
Tasks/
riderModule.iml
appsettings.json
Program.cs
api-test.http
# Secrets and local overrides
appsettings.Development.json
appsettings.Local.json
*.secrets.json
priv.*

# .NET Core #
bin/
obj/
/packages/
TestResults/
publish-new/
PrivateTasks/
media/
# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates


# Visual Studio / Rider
.vs/
.idea/
/_ReSharper.Caches/
*.iml

# App-specific (Logs & Local settings)
logs/
http-logs/
*.jsonl



# Local runtime files
safu.key
crash.log
*.key


# Sensitive
appsettings.secrets.json